
* {box-sizing: border-box}

.navbar {
  width: 100%;
  background-color:rgba(95%,95%,95%,60%);
  overflow: hidden;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  width: 33%; /* Four links of equal widths */
  text-align: center;
}

/* .navbar a:hover {
  background-color: #000;
} */
/* 
.navbar a.active {
  background-color: #04AA6D;
} */

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}

