.currentServerStats {
    background-color: #3E606F;
    color: #A8DBA8;
    padding: 20px;
    border-radius: 10px;

    margin: 50px auto;

    width: 25%;
    min-width: 300px;
}

.currentServerStats h2 {
    margin-bottom: 20px;
}