.dropdown-menu {
  background: red;
  width: 200px;
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;
}

.dropdown-menu li {
  background: #202020;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background: #101010;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link-braille {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 16px;
  font-size: 16px;
  font-family: Braille;
}
.dropdown-link-morse {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 16px;
  font-size: 14px;
  font-family: MorseCode;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
}
