* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;

  -ms-overflow-style: none; /* Edge, Internet Explorer */
  scrollbar-width: none; /* Firefox */
  /*overflow-x: hidden;*/

}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}


@font-face {
  font-family: "MorseCode";
  src: url('/public/morse/fonts/MorseCoder-RppRE.ttf');

}

@font-face {
  font-family: "Braille";
  src: url('/public/braille/fonts/Braille-1lA2.ttf');

}